*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/api/public/build
/api/public/hot
/api/public/storage
/api/storage/*.key
/api/storage/pail
/api/vendor
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
